*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F6F4F3;
}
nav ,.nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}
.nav-links li a {
    text-decoration: none;
    color: #14110F;
    text-decoration-color: white;
}
.nav-links li a:hover{
    text-decoration: underline;
    color: #7E7F83;
    text-underline-offset: 1rem;
    text-decoration-color: #7E7F83;
}
.Name{
    font-size: 3rem;
    color: #14110F;
}
.Name:hover{
    cursor: default;
}
#hamberger-nav{
    display: none;
}
.hamberger-menu{
    position: relative;
    display: inline-block;
}
.hamberger-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.hamberger-icons span{
    width: 86%;
    height: 2px;
    background-color: #14110F;
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #14110F;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
.hamberger-icons.open{
    max-height: 300px;
}
@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
    #hamberger-nav{
        display: flex;
    }
}
/* Section */
section{
    padding-top: 4vh;
    height: 50vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;
}
#profile{
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 80vh;
}
.section-01-text{
    text-align: center;
    align-self: center;
}
.section-01-p1 {
    font-size: 1.5rem;
}
.section-01-p2{
    font-size: 1.5rem;
}
.title{
    font-size: 3rem;
}
.section-pic-container{
    display: flex;
    height: 400px;
}
#about{
    text-align: center;
    height: 100vh;
}
.about-1{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10vh;
    margin-bottom: 20px;
    
}
.ab1{
    border: 1.5px solid #14110F;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.achi {
    height: 25px;
    width: 25px;
    text-align: center;
}
.books{
    height: 25px;
    width: 25px;
    text-align: center;
}
.about-2{
    font-size: 1rem;
}
#Skills{
    height: 100vh;
    text-align: center;
}
article{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.tick{
    height: 30px;
}
.skills-01 h3{
    font-size: 1.5rem;
    margin-left: 10px;
}
.Skills-container{
    display: flex;
    justify-content: center;
}
.Skills-01{
    width: 300px;
}
#Certifications{
    height: 100vh;
}
.cert-opt{
    margin-left: 50px;
}
.cert-container{
    display: flex;
}
.cert{
    display: flex;
    margin-top: 40px;
}
.cert-text{
    margin-left: 10px;
    
}
.cert-icon{
    display: flex;
    justify-content: center;
}
.cert-h3{
    font-size: 1.5rem;
}
